@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --primary:#0077b6;
    --secondary:#48cae4;
    --black:#333;
    --white:#fff;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: .2s linear;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-padding-top: 9rem;
	scroll-behavior: smooth;
}

html::-webkit-scrollbar {
	width: .8rem;
}

html::-webkit-scrollbar-track {
	background-color: transparent;
}

html::-webkit-scrollbar-thumb {
	background-color: var(--primary);
	border-radius: .5rem;
}

section {
	padding: 5rem 7%;
}

.heading {
	font-size: 4rem;
	color: var(--primary);
	text-align: center;
	text-transform: uppercase;
	font-weight: bolder;
	margin-bottom: 3rem;
}

.btn {
	display: inline-block;
	margin-top: 1rem;
	padding: 1rem 3rem;
	background-color: var(--primary);
	border-radius: .5rem;
	color: var(--white);
	font-size: 1.7rem;
	cursor: pointer;
}

.btn:hover {
	background-color: var(--secondary);
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: var(--white);
	box-shadow: var(--box-shadow);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 9%;
}

.header .logo {
	font-size: 2.5rem;
	font-weight: bolder;
	color: var(--black)
}

.header .logo i {
	color: var(--primary);
	padding-right: .5rem;
}

.header .navbar a {
	font-size: 1.7rem;
	color: var(--black);
	margin: 0 1rem;
}

.header .navbar a:hover {
	color: var(--primary);
}

.header .navbar .btn {
	margin-top: 0;
	color: var(--white);
}

.header .navbar .btn:hover {
	color: var(--white);
}

#menu-btn {
	display: none;
}

.home {
	padding: 0;
}

.home .slide {
	min-height: 100vh;
	background-size: cover !important;
	background-position: center !important;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -1;
}

.home .slide .content {
	width: 80rem;
	text-align: center;
}

.home .slide .content h3 {
	font-size: 4rem;
	text-transform: uppercase;
	color: var(--white);
	line-height: 1.1;
	padding: 2rem 0;
}

.swiper-button-next,
.swiper-button-prev {
	height: 5rem;
	width: 5rem;
	line-height: 5rem;
	background-color: var(--white);
	color: var(--black);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
	background-color: var(--primary);
	color: var(--white);
}

.swiper-button-next::after,
.swiper-button-prev::after {
	font-size: 2rem;
}

.availability form {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	background-color: #eee;
	padding: 2rem;
	border-radius: .5rem;
}

.availability form .box {
	flex: 1 1 20rem;
}

.availability form .box p {
	font-size: 2rem;
	color: var(--primary);
}

.availability form .box .input {
	width: 100%;
	padding: 1rem;
	font-size: 1.8rem;
	color: var(--black);
	margin: 1rem 0;
	border-radius: .5rem;
}

.about .row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 6rem;
}

.about .row .image {
	flex: 1 1 30rem;
}

.about .row .image img {
	width: 100%;
}

.about .row .content {
	flex: 1 1 51rem;
}

.about .row .content h3 {
	font-size: 3.5rem;
	color: var(--primary);
	padding: 2rem 0;
}

.about .row .content p {
	font-size: 1.6rem;
	color: #666;
	padding: 1rem 0;
	line-height: 1.8;
}

.room .slide {
	background-color: var(--white);
	border: .1rem solid rgba(0, 0, 0, 0.2);
	border-radius: .5rem;
	box-shadow: var(--box-shadow);
	margin-bottom: 4rem;
}

.room .slide .image {
	height: 25rem;
	width: 100%;
	padding: 1.5rem;
	overflow: hidden;
	position: relative;
}

.room .slide .image img {
	width: 100%;
	height: 100%;
	border-radius: .5rem;
	object-fit: cover;
}

.room .slide .image .price {
	position: absolute;
	top: 2.5rem;
	left: 2.5rem;
	background-color: var(--primary);
	color: var(--white);
	font-size: 1.7rem;
	padding: .5rem 1rem;
	border-radius: .5rem;
	text-transform: lowercase;
}

.room .slide .image .fa-shopping-cart {
	position: absolute;
	top: 2.5rem;
	right: 2.5rem;
	height: 4.5rem;
	width: 4.5rem;
	line-height: 4.5rem;
	text-align: center;
	font-size: 2rem;
	background-color: var(--white);
	color: var(--black);
	border-radius: 50%;
}

.room .slide .image .fa-shopping-cart:hover {
	background-color: var(--secondary);
	color: var(--white);
}

.room .slide .content {
	padding: 2rem;
	padding-top: 0;
}

.room .slide .content h3 {
	font-size: 2.5rem;
	color: var(--black);
}

.room .slide .content p {
	font-size: 1.6rem;
	color: #666;
	padding: .5rem 0;
	line-height: 1.5rem;
}

.room .slide .content .stars {
	padding: 1rem 0;
}

.room .slide .content .stars i {
	font-size: 1.7rem;
	color: var(--primary);
}

.services .box-conteiner {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	gap: 2rem;
}

.services .box-conteiner .box {
	text-align: center;
}

.services .box-conteiner .box img {
	height: 10rem;
	margin-bottom: .7rem;
}

.services .box-conteiner .box h3 {
	font-size: 1.7rem;
	color: var(--black);
	padding: .5rem 0;
}

.gallery .slide {
	height: 30rem;
	position: relative;
	overflow: hidden;
}

.gallery .slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery .slide .icon {
	display: none;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.gallery .slide .icon i {
	font-size: 6rem;
	color: var(--white);
}

.gallery .slide:hover .icon {
	display: flex;
}

.review {
	background-image: url('../images/review.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 48rem;
	position: relative;
	margin: 4rem 0;
}

.review .review-slider {
	background-color: var(--secondary);
	padding: 2rem;
	width: 50%;
	height: 145%;
	margin-top: -8rem;
	margin-right: 60rem;
	padding-top: 6%;
	color: var(--white);
	box-shadow: var(--box-shadow);
}

.review .slide {
	text-align: center;
}

.review .slide .heading {
	color: var(--white);
}

.review .slide i {
	font-size: 6rem;
	color: var(--primary);
}

.review .slide p {
	padding-bottom: 1.5rem;
	padding-top: 3rem;
	font-size: 1.5rem;
	line-height: 1.8;
	color: var(--white);
}

.review .slide .user {
	display: flex;
	gap: 1.5rem;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
	border-radius: .5rem;
}

.review .slide .user img {
	height: 7rem;
	width: 7rem;
	border-radius: 15%;
	object-fit: cover;
}

.review .slide .user h3 {
	font-size: 2rem;
	color: var(--black);
	padding-bottom: .5rem;
}

.review .slide .user i {
	font-size: 1.3rem;
	color: var(--primary);
}

.faqs .row {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	align-items: center;
}

.faqs .row .image {
	flex: 1 1 40rem;
}

.faqs .row .content {
	flex: 1 1 40rem;
}

.faqs .row .content .box {
	margin-top: 2rem;
}

.faqs .row .content .box h3 {
	font-size: 2rem;
	color: var(--primary);
	padding: 1.5rem;
	cursor: pointer;
}

.faqs .row .content .box p {
	font-size: 1.6rem;
	padding: 1.5rem 2rem;
	line-height: 2;
	color: var(--secondary);
	box-shadow: var(--box-shadow);
}