@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --primary:#0077b6;
    --secondary:#48cae4;
    --black:#333;
    --white:#fff;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: .2s linear;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}

.btn {
	display: inline-block;
	margin-top: 1rem;
	padding: 1rem 3rem;
	background-color: var(--primary);
	border-radius: .5rem;
	color: var(--white);
	font-size: 1.7rem;
	cursor: pointer;
}

.btn:hover {
	background-color: var(--secondary);
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: var(--white);
	box-shadow: var(--box-shadow);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 9%;
}

.header .logo {
	font-size: 2.5rem;
	font-weight: bolder;
	color: var(--black)
}

.header .logo i {
	color: var(--primary);
	padding-right: .5rem;
}

.header .navbar a {
	font-size: 1.7rem;
	color: var(--black);
	margin: 0 1rem;
}

.header .navbar a:hover {
	color: var(--primary);
}

.header .navbar .btn {
	margin-top: 0;
	color: var(--white);
}

#menu-btn {
	display: none;
}